:root {
    --theme-accent: rgb(234, 167, 113);
    --theme-accent-text: rgb(255, 106, 0);
    --theme-accent-dark: rgb(134, 102, 64);
    --theme-accent-stroke: rgb(98, 60, 46);
    --theme-btn-text: rgb(36, 20, 4);
    --theme-accent-rgb: 234, 167, 113;
    --theme-accent-text-rgb: 255, 106, 0;
}

.panel-bg,
.panel-glow,
.arrow img {
    filter: hue-rotate(178deg);
}

.arrow--next img {
    filter: hue-rotate(178deg);
    transform: scaleX(-1);
}